<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GUAU</title>
</head>

<body>
  <h1>Nuevo usuario</h1>
  <form method="post" action="#" th:action="@{/registro/nuevo/submit}" th:object="${registroForm}">
    <input type="hidden" id="id" th:field="*{id}" /><br />

    <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />

    <label>Email: <input type="email" id="email" th:field="*{email}" /></label><br />

    <label>Domicilio: <input type="text" id="domicilio" th:field="*{domicilio}" /></label><br />

    <label>Contraseña:</label>
      <input type="text" id="contrasenha" th:field="*{password}" /></label><br />

    <!-- Rol:<br />
    <input type="radio" id="userRole" name="button1" th:value="${T(com.example.demo.domain.Rol).USUARIO}"
      th:text="${T(com.example.demo.domain.Rol).USUARIO}" th:field="*{rol}" required/>
      <br/> -->

    <input type="submit" value="Enviar" />
  </form>
</body>

</html>