<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <script src="/js/vistaMovil.js"></script>
    <title>GUAU</title>
</head>
<body>
    <head th:replace="~{/fragment.html::cabecera}"></head>
    <main class="formulario">
        <h1>Editar usuario</h1>
        <form method="post" action="#" th:action="@{/usuario/editar/submit}" th:object="${usuarioForm}">
            <label>Id: <input type="text" id="id" th:field="*{id}" readonly/> </label><br />

            <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" readonly/></label><br />

            <label>Email: <input type="email" id="email" th:field="*{email}" readonly/></label><br />

            <label>Domicilio: <input type="text" id="domicilio" th:field="*{domicilio}" /></label><br />

            <label>Contraseña:
                <input type="text" id="contrasenha" th:field="*{password}"/>
            </label><br />
            
            <input type="submit" value="Enviar" id="enviar"/>
        </form>
        <br>
        <a th:href="@{/usuario/}" id="volver">Volver</a><br />
    </main>
    <footer th:replace="~{/fragment2.html::piePagina}"></footer>
</body>
</html>