<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/inicio.css">
  <title>GUAU</title>
</head>

<body>
  <head th:replace="~{/fragment.html::cabecera}"></head>
  
  <main class="inicio">
    <div class="seccionFotos">
      <div class="foto" id="historia">
        <a href="/historia">
          <img src="/images/antiguo.jpg" width="300" height="350" alt="Historia" title="Historia"/>
          <p>Historia</p>
        </a>
      </div>

      <div class="foto">
        <a href="/motivo">
          <img src="/images/niña.jpg" width="350" height="350" alt="¿Por qué tener un perro?" title="¿Por qué tener un perro?"/>
          <p>¿Por qué tener un perro?</p>
        </a>
      </div>

      <div class="foto">
        <a href="/veterinario">
          <img src="/images/veterinario.jpg" width="350" height="350" alt="Veterinario" title="Veterinario y Vacunas"//>
          <p>Veterinario y Vacunas</p>
        </a>
      </div>
    </div>
  </main>

  <footer>
    <div class="final">
      <p><a href="/contacto/" class="enlFinal">Contáctanos</a></p>

      <div>
        <p id="redes">
          <a href="https://www.facebook.com/?locale=es_ES"><img src="/images/logoFacebook.png" title="Facebook"></a>
          <a href="https://twitter.com/?lang=es"><img src="/images/logoTwitter.png" title="Twitter"/></a>
          <a href="https://www.instagram.com/"><img src="/images/logoInstagram.png" title="Instagram"/></a>
          <a href="https://www.youtube.com/"><img src="/images/logoYoutube.png" title="Youtube"/></a>
          <a href="https://www.tiktok.com/es/"><img src="/images/logoTikTok.png" title="TikTok"/></a>
        </p>
      </div>

      <p>
        <a href="https://www.boe.es/eli/es/l/2023/03/28/7" class="enlFinal">Ley de Bienestar Animal</a>
      </p>
      <p><a href="" class="enlFinal">Ayuda</a></p>
      <p><a href="" class="enlFinal">Términos y condiciones</a></p>
      <p th:text="${anhoActual}"></p>
    </div>
  </footer>

  <script>
    function toggleMenu() {
      var nav = document.querySelector("nav ul");
      nav.classList.toggle("open");
    }
  </script>
</body>

</html>