<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GUAU</title>
  <link rel="stylesheet" href="/css/inicio.css" />
  <link rel="stylesheet" href="/css/veterinario.css" />
</head>

<body>
  <head th:replace="~{/fragment.html::cabecera}"></head>

  <main class="veterinario">
    <h2>Calendario de Visitas al veterinario y Vacunas</h2>
    <table border="1px">
      <tr>
        <th>Edad</th>
        <th>Visitas</th>
        <th>Vacunas</th>
      </tr>
      <tr>
        <td>Cachorro (0 - 4 meses)</td>
        <td>3 visitas (cada 3-4 semanas hasta las 16 semanas)</td>
        <td>Vacunas básicas: Parvovirus, Moquillo, Hepatitis, Parainfluenza, Rabia</td>
      </tr>
      <tr>
        <td>Cachorro (4 - 12 meses)</td>
        <td>3 visitas (cada 3-4 semanas hasta las 16 semanas)</td>
        <td>Vacunas de refuerzo: Parvovirus, Moquillo, Hepatitis, Parainfluenza, Rabia</td>
      </tr>
      <tr>
        <td>Adulto (1 - 7 años)</td>
        <td>1-2 visitas al año (exámenes de rutina, vacunas de refuerzo según necesidad)</td>
        <td>Vacunas de refuerzo según necesidad, como Bordetella, Leptospirosis, Influenza canina</td>
      </tr>
      <tr>
        <td>Adulto Mayor (7+ años)</td>
        <td>2-3 visitas al año (exámenes de rutina, monitoreo de salud)</td>
        <td>Vacunas de refuerzo según necesidad, atención especial a problemas de salud relacionados con la edad</td>
      </tr>
    </table>
  </main>

  <footer th:replace="~{/fragment2.html::piePagina}"></footer>
  <script>
    function toggleMenu() {
      var nav = document.querySelector("nav ul");
      nav.classList.toggle("open");
    }
  </script>
</body>

</html>