<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/inicio.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <title>GUAU</title>
</head>

<body>

  <head th:replace="~{/fragment.html::cabecera}"></head>
  <main class="newVal">
    <h1>Valorar</h1>
    <form method="post" action="#" th:action="@{/valoraciones/nuevo/submit}" th:object="${valoracionesForm}">

      Producto:<br />
      <input type="hidden" th:field="*{producto}"><br />
      <label>Puntuacion:<input type="number" id="puntuacion" th:field="*{puntuacion}" /></label><br />
      <label>Texto:<input type="text" id="texto" th:field="*{texto}" /></label><br />
      <input type="submit" value="Enviar" />
    </form>
  </main>
  <script>
    function toggleMenu() {
      var nav = document.querySelector("nav ul");
      nav.classList.toggle("open");
    }
  </script>
</body>

</html>