<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/inicio.css" />
  <link rel="stylesheet" href="/css/razas.css" />
  <link rel="stylesheet" href="/css/razasPag.css" />
  <title>GUAU</title>
</head>

<body>
  <head th:replace="~{/fragment.html::cabecera}"></head>
  <!-- <h1>Listado de razas de perro</h1> -->
  <main class="raza">
    <div class="fotosContainer">
      <div class="fotosPerro">
        <!-- <div class="imagen" id="afgano">
          <img src="/images/razas/afgano.png" width="350" height="350" alt="Afgano" title="Afgano" />
          <p>Afgano</p>
        </div> -->
        <div th:each="raza : ${listaRazas}" class="imagen" th:id="${raza.nombre}">
          <!-- <img th:src="@{${raza.rutaImagen}}" width="350" height="350" th:alt="${raza.nombre}" th:title="${raza.nombre}" />
          <img th:src="@{'/images/razas/' + ${raza.nombre.toLowerCase()} + '.png'}" width="350" height="350" th:alt="${raza.nombre}" th:title="${raza.nombre}" />
          <img th:src="${getImageUrl(raza.nombre)}" width="350" height="350" th:alt="${raza.nombre}" th:title="${raza.nombre}" /> -->
              
          <img th:src="@{'/images/razas/' + ${raza.nombre.toLowerCase().replace(' ', '_')} + '.png'}" width="350" height="350" th:alt="${raza.nombre}" th:title="${raza.nombre}" />
          <p th:text="${raza.nombre}"></p>
          <!-- <p th:text="${'Esperanza de vida: ' + raza.esperanzaVida + ' años'}"></p>
          <p th:text="${'Tamaño: ' + raza.tamanho}"></p> -->
          <p sec:authorize="hasRole('ADMIN')">
              <a th:href="@{/razas/editar/{nombre}(nombre=${raza.nombre})}">Editar</a>
          </p>
          <p sec:authorize="hasRole('ADMIN')">
              <a th:href="@{/razas/borrar/{nombre}(nombre=${raza.nombre})}">Borrar</a>
          </p>
      </div>

        <!-- <div class="imagen" id="akita">
          <img src="/images/razas/akita.webp" width="350" height="350" alt="Akita" title="Akita" />
          <p>Akita</p>
        </div>

        <div class="imagen" id="basenji">
          <img src="/images/razas/basenji2.png" width="350" height="350" alt="Basenji" title="Basenji" / />
          <p>Basenji</p>
        </div>

        <div class="imagen" id="basset">
          <img src="/images/razas/basset.webp" width="350" height="350" alt="Basset Grifón" title="Basset Grifón" / />
          <p id="basset">Basset Grifón</p>
        </div>

        <div class="imagen" id="hound">
          <img src="/images/razas/basset_hound.png" width="350" height="350" alt="Basset Hound" title="Basset Hound" / />
          <p>Basset Hound</p>
        </div>

        <div class="imagen" id="beagle">
          <img src="/images/razas/beagle.png" width="350" height="350" alt="Beagle" title="Beagle" / />
          <p>Beagle</p>
        </div>
      </div> -->

      <div class="fotosPerro2">
        <!-- <div class="imagen" id="bedlington">
          <img src="/images/razas/bedlington.png" width="350" height="350" alt="Bedlington Terrier"
            title="Bedlington Terrier" />
          <p>Bedlington Terrier</p>
        </div>

        <div class="imagen" id="bichon">
          <img src="/images/razas/bichon.webp" width="350" height="350" alt="Bichón Frisé" title="Bichón Frisé" />
          <p>Bichón Frisé</p>
        </div>

        <div class="imagen" id="bloodhound">
          <img src="/images/razas/bloodhound.png" width="350" height="350" alt="Bloodhound" title="Bloodhound" / />
          <p>Bloodhound</p>
        </div>

        <div class="imagen" id="bobtail">
          <img src="/images/razas/bobtail.png" width="350" height="350" alt="Bobtail" title="Bobtail" / />
          <p>Bobtail</p>
        </div>

        <div class="imagen" id="collie">
          <img src="/images/razas/border_collie.png" width="350" height="350" alt="Border Collie" title="Border Collie"
            / />
          <p>Border Collie</p>
        </div>

        <div class="imagen" id="boston">
          <img src="/images/razas/boston_terrier.webp" width="350" height="350" alt="Boston Terrier" title="Boston Terrier"
            / />
          <p id="boston">Boston Terrier</p>
        </div> -->
      </div>

      <div class="enlaces">
        <a th:href="@{/razas/?pag=0}">Pág inicial</a>&nbsp;|&nbsp;
        <a th:href="@{/razas/(pag=${pagAnterior})}">Pág ant</a>&nbsp;|&nbsp;
        <a th:href="@{/razas/(pag=${pagSiguiente})}">Pág sig</a>&nbsp;|&nbsp;
        <a th:href="@{/razas/(pag=${pagFinal})}">Ult pág</a>
      </div>
    </div>
  </main>
  <!-- <table>
    <thead>
      <th>Nombre</th>
      <th>Esperanza de vida</th>
      <th>Tamaño</th>
      <th sec:authorize="hasRole('ADMIN')">
        Editar
      </th>
      <th sec:authorize="hasRole('ADMIN')">
        Borrar
      </th>
      <!-- <th>Más Información</th> -->
    <!-- </thead>
    <tbody>
      <tr th:each="raza : ${listaRazas}">
        <td th:text="${raza.nombre}">nombre</td>
        <td th:text="${raza.esperanzaVida}">años</td>
        <td th:text="${raza.tamanho}">tamaño</td>

        <td sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/razas/editar/{nombre}(nombre=${raza.nombre})}">Editar</a>
        </td>
        <td sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/razas/borrar/{nombre}(nombre=${raza.nombre})}">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table> 
  <a th:href="@{/razas/?pag=0}">Pág inicial</a>&nbsp;|&nbsp;
  <a th:href="@{/razas/(pag=${pagAnterior})}">Pág ant</a>&nbsp;|&nbsp;
  <a th:href="@{/razas/(pag=${pagSiguiente})}">Pág sig</a>&nbsp;|&nbsp;
  <a th:href="@{/razas/(pag=${pagFinal})}">Utl.pág</a> <br /><br /> -->

  <td sec:authorize="hasRole('ADMIN')">
    <a href="/razas/nuevo">Nueva raza de perro</a><br />
  </td>


  <footer>
    <div class="final">
      <p><a href="/contacto/" class="enlFinal">Contáctanos</a></p>

      <div>
        <p id="redes">
          <a href="https://www.facebook.com/?locale=es_ES"><img src="/images/logoFacebook.png" title="Facebook"></a>
          <a href="https://twitter.com/?lang=es"><img src="/images/logoTwitter.png" title="Twitter" /></a>
          <a href="https://www.instagram.com/"><img src="/images/logoInstagram.png" title="Instagram" /></a>
          <a href="https://www.youtube.com/"><img src="/images/logoYoutube.png" title="Youtube" /></a>
          <a href="https://www.tiktok.com/es/"><img src="/images/logoTikTok.png" title="TikTok" /></a>
        </p>
      </div>

      <p>
        <a href="https://www.boe.es/eli/es/l/2023/03/28/7" class="enlFinal">Ley de Bienestar Animal</a>
      </p>
      <p><a href="" class="enlFinal">Ayuda</a></p>
      <p><a href="" class="enlFinal">Términos y condiciones</a></p>
      <p th:text="${anhoActual}"></p>
    </div>
  </footer>
  <script>
    function toggleMenu() {
      var nav = document.querySelector("nav ul");
      nav.classList.toggle("open");
    }
  </script>
</body>

</html>