<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUAU</title>
</head>

<body>
    <!-- <head th:replace="~{/fragment.html::cabecera}"></head> -->
    <h1>Nueva raza</h1>
    <form method="post" action="#" th:action="@{/razas/nuevo/submit}" th:object="${raza}">
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /> </label><br />

        <label>Origen: <input type="text" id="origen" th:field="*{origen}"/> </label><br />

        <label>Tamaño: <input type="text" id="tamano" th:field="*{tamano}"/> </label><br />

        <label>Peso: <input type="text" id="peso" th:field="*{peso}"/> </label><br />

        <label>Esperanza de vida: <input type="text" id="esperanzaVida" th:field="*{esperanzaVida}"/> </label><br />

        <label>Actividad: <input type="text" id="actividad" th:field="*{actividad}"/> </label><br />

        <label>Pelaje: <input type="text" id="pelaje" th:field="*{pelaje}"/> </label><br />

        <label>Puntuacion: <input type="number" id="puntuacion" th:field="*{puntuacion}"/> </label><br />

        <label>Url: <input type="text" id="url" th:field="*{url}"/> </label><br />

        <!-- <label>Esperanza de vida: <input type="text" id="esperanzaVida" th:field="*{esperanzaVida}" /></label><br />
        <label>Tamaño
            <select name="tamanho" th:field="*{tamanho}">
                <option value="Pequeno">Pequeno</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
            </select>
        </label><br /> -->
        
        <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/razas/}">Inicio</a><br />
    <footer th:replace="~{/fragment2.html::piePagina}"></footer>
</body>

</html>
