<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/inicio.css" />
  <link rel="stylesheet" href="/css/contacto.css" />
  <script src="/js/validarFormularioContacto.js"></script>
  <script src="/js/vistaMovil.js"></script>
  <title>GUAU</title>

  <style>
    label {
      font-weight: 700;
    }

    #mensajeError0, #mensajeError1, #mensajeError2 {
      color: red;
      font-size: 19px;
    }
  </style>
</head>

<body>
  <header th:replace="~{/fragment.html::cabecera}"></header>
  <main class="contacto">
    <!-- <form action="#" method="post" th:action="@{/contacto/submit}" th:object="${formContacto}">
    Nombre: <input type="text" th:field="*{nombre}" required><br>
    Email: <input type="email" th:field="*{email}" required><br>
    Motivo:
    <select th:field="*{motivo}">
      <option value="queja">Queja</option>
      <option value="consulta">Consulta</option>
      <option value="otros">Otros</option>
    </select><br>
    Comentarios: <br /> <textarea th:field="*{comentarios}" rows="4" cols="50"></textarea><br>
    Aceptar las condiciones del servicio: <input type="checkbox" th:field="*{aceptarCondiciones}"><br>
    <input type="submit" value="Enviar"><br />
  </form> -->
    <h2>Contacto</h2>

    <div th:if="${mensajeExitoso}">
      <p th:text="${mensajeExitoso}"></p>
    </div>

    <form action="#" method="post" th:action="@{/contacto/submit}" th:object="${formContacto}">

      <div style="position: absolute; left: -9999px;">
        <input type="text" name="input_apellidos" tabindex="-1">
      </div><!--  Detectar spammers -->

      <div>
        <label id="asunto_etiq">Asunto:</label> <input type="text" th:field="*{asunto}" id="asunto" required />
        <span id="mensajeError0" style="color:red; font-size: 17px;"></span> <br />
      </div>

      <div>
        <label id="email_etiq">Email:</label> <input type="email" th:field="*{email}" id="email" required/>
        <span id="mensajeError2" style="color:red; font-size: 17px;"></span> <br />
      </div>

      <label id="motivo_etiq">Motivo:</label>
      <select th:field="*{motivo}" id="motivo">
        <option value="queja">Queja</option>
        <option value="consulta">Consulta</option>
        <option value="otros">Otros</option>
      </select><br /><br />

      <label id="comentario_etiq">Comentario:</label> <br />
      <textarea th:field="*{comentarios}" id="comentarios" rows="4" cols="50" required></textarea>
      <span id="mensajeError1" style="color:red; font-size: 17px;"></span><br /><br />


      <input type="submit" id="enviar" value="Enviar" /><br />
    </form>
  </main>
  <footer th:replace="~{/fragment2.html::piePagina}"></footer>
  <script>
    function toggleMenu() {
      var nav = document.querySelector("nav ul");
      nav.classList.toggle("open");
    }
  </script>
</body>

</html>