<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUAU</title>
</head>
<body>
    <p>Nombre: <span th:text="${contacto.nombre}"></span></p>
    <p>Email: <span th:text="${contacto.email}"></span></p>
    <p>Motivo: <span th:text="${contacto.motivo}"></span></p>
    <p>Comentarios: <span th:text="${contacto.comentarios}"></span></p>
    <p>Aceptar las condiciones del servicio: <span th:text="${contacto.aceptarCondiciones} ? 'Sí' : 'No'"></span></p>
</body>
</html>