.pedido {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.newPedido {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.usuario {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.valUsuario {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.valProducto {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.newVal {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.newLinea {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.linPed {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.linProd {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.adopta {
    overflow: hidden;
    min-height: 68.1vh;
    margin-top: 22vh;
}