.pedido {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
    font-size: 20px;
}

.newPedido {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.usuario {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
    font-size: 20px;
}

#nuevoUsuario {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#nuevaCategoria {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.valUsuario {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
    font-size: 20px;
}

.valProducto {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.newVal {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.newLinea {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.linPed {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.linProd {
    overflow: hidden;
    min-height: 68vh;
    margin-top: 22vh;
}

.adopta {
    overflow: hidden;
    min-height: 68.1vh;
    margin-top: 22vh;
}