@media only screen and (max-width: 950px) {
    table {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    th, td {
        max-width: 220px;
        white-space: normal;
    }
    th:first-child, td:first-child {
        max-width: 200px;
        white-space: normal;
    }
}