/* body {
  overflow-y: hidden;
} */


  /* .raza {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fotosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;  
  }

  .fotosPerro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .fotosPerro .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s;
    border: 1px solid black;
  } 
  
  --------------------------------------------------------------------------------*/



/* .raza {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 68.1vh;
  margin-top: 22vh;
} */

.raza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 68.1vh;
  margin-top: 24vh;
}

/* .fotosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.fotosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.fotosContainer p {
  font-size: 21px;
  color: black;
}

/* .fotosPerro {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
} */

.fotosPerro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fotosPerro2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  /* margin-top: 0.5vh; */
  /* margin-bottom: 3vh; */
}

.imagen {
  display: block;
  text-align: center;
  border: 1px solid black;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px;
  border-radius: 7%;
}

.imagen img {
  height: auto;
  width: 200px;
}

.fotosPerro .imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* transition: transform 0.2s; */
  border: 1px solid black;
} 

.finalRazas {
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 2%;
  background-color: lightslategray;
  display: inline-flex;
  flex-wrap: wrap;
}

div.finalRazas p {
  margin: 10px 50px 10px 50px;
}

div.finalRazas div {
  display: block;
}

.enlaces {
  font-size: 25px;
}


#nuevaRaza {
  background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  div#afgano {
    margin-top: 9vh;
  }

  div.imagen {
    margin-top: 8px;
  }

  .enlaces {
    font-size: 22px;
  }
}