#afgano {
  margin-bottom: 5px;
}

#afgano_img {
  padding-top: 10px;
}

#akita {
  margin-bottom: 5px;
}

#akita_img {
  padding-top: 25px;
}

#basenji {
  margin-bottom: 5px;
}

#basenji_img {
  padding-top: 25px;
}

#basset_grifón {
  margin-bottom: 5px;
}

#basset_grifón_img {
  padding-top: 40px;
}

#basset_hound {
  margin-bottom: 5px;
}

#basset_hound_img {
  padding-top: 19px;
}

#beagle {
  margin-bottom: 5px;
}

#beagle_img {
  padding-top: 22px;
}


#bedlington_terrier {
  margin-top: 5px;
}

#bedlington_terrier_img {
  padding-top: 45px;
}

#bichón_frisé {
  margin-top: 5px;
}

#bichón_frisé_img {
  padding-top: 44px;
}

#bichón_frisé_texto {
  padding-top: 18px;
}

#bloodhound {
  margin-top: 5px;
}

#bloodhound_img {
  padding-top: 5px;
}

#bobtail {
  margin-top: 5px;
}

#bobtail_img {
  padding-top: 20px;
}

#border_collie {
  margin-top: 5px;
}

#border_collie_img {
  padding-top: 20px;
}

#boston_terrier {
  margin-top: 5px;
}

#boston_terrier_img {
  padding-top: 40px;
}

#boston_terrier_texto {
  padding-top: 33px;
}

#afgano:hover,
#akita:hover,
#basenji:hover,
#basset_griffon:hover,
#basset_hound:hover,
#beagle:hover,
#bedlington_terrier:hover,
#bichón_frisé:hover,
#bloodhound:hover,
#bobtail:hover,
#border_collie:hover,
#boston_terrier:hover {
  background-color: #acacac;
  transition: background 0.5s ease-in-out;
}
