.imagen {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1.5s ease-in-out;
}

.imagen img.top {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.imagen:hover img:not(.top) {
    opacity: 0;
}

.imagen:hover img.top {
    opacity: 1;
}



#collar {
    padding-top: 20px;
}

#collar_img2 {
    padding-top: 24px;
}

#arnés {
    padding-top: 41px;
}

#arnés_img2 {
    padding-left: 40px;
}


#piensos_adulto {
    padding-top: 35px;
}

#piensos_adulto_img1 {
    padding-top: 15px;
}

#piensos_adulto_img2 {
    padding-top: 60px;
    padding-left: 12px;
}

#piensos_cachorro {
    padding-top: 35px;
}

#piensos_cachorro_img1 {
    padding-top: 15px;
}

#piensos_cachorro_img2 {
    padding-top: 30px;
    padding-left: 30px;
}

#correa {
    padding-top: 37px;
}

#correa_img1 {
    padding-top: 15px;
}

#correa_img2 {
    padding-top: 87px;
    padding-left: 40px;
}


#chubasquero {
    padding-top: 37px;
}

#chubasquero_img1 {
    padding-top: 17px;
}

#chubasquero_img2 {
    padding-top: 40px;
    padding-left: 25px;
}



/* #arnesPerro {
    padding-top: 8px;
} */

/* #correaPerro {
    padding-top: 80px;
    padding-left: 20px;
} */

/* #chubasqueroPerro {
    padding-top: 50px;
} */