/* body {
  overflow-y: hidden;
} */


.tienda {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 66.5vh;
  margin-top: 24vh;
}

/* .fotosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotosTienda {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
} */

.fotosContainer p {
  font-size: 23px;
}


.fotosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fotosTienda {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

/* .imagen {
  display: block;
  text-align: center;
  border: 1px solid black;
  margin-left: 45px; 
  margin-right: 45px;
  padding: 5px;
  border-radius: 7%;
} */

/* .imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 7%;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
} */

.imagen {
  background-color: wheat;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.imagen img {
  height: auto;
  width: 200px;
}

.imagen-noanimada {
  display: block;
  text-align: center;
  border: 1px solid black;
  margin-left: 45px; 
  margin-right: 45px;
  padding: 5px;
  border-radius: 7%;
}

.imagen-noanimada img {
  height: auto;
  width: 200px;
}


.finalTienda {
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 2%;
  background-color: lightslategray;
  display: inline-flex;
  flex-wrap: wrap;
}

div.finalTienda p {
  margin: 10px 50px 10px 50px;
}

div.finalTienda div {
  display: block;
}

#nuevoProducto {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#valoracion, #addCarro {
  font-size: 21px;
}


@media only screen and (max-width: 700px) {

  div.imagen{
    margin-top: 20px;
  }
}